<div class="depot_form" >
<% if flash[:alert] %>
<p id="notice" ><%= flash[:alert] %></p>
<% end %>
 
<div class="span4 offset3">
 <%= form_tag sessions_path do %>
	<legend>Please Log In or Register</legend>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class="actions"> 
      	<%= submit_tag "Sign in", class: "btn btn-large btn-primary" %> <%= link_to "Register!", signup_path , class: "btn btn-large btn-warning btn-primary"%>
      </div>
  <% end%>
</div>
 
