<div class="row">
  <div class="span4">

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  
  
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  
  
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password %>
  
  
    <%= f.label :password_confirmation, 'Password confirmation' %><br />
    <%= f.password_field :password_confirmation %>
  
  
    <%= f.label :photo %><br />
    <% if f.object.image_url %>
     <%= image_tag f.object.image_url(:thumb).to_s if f.object.image? %>
      
  
    <% else %>

      <%= f.file_field :image %>
  
      <%= f.label :remote_image_url, "or image URL" %>
      <%= f.text_field :remote_image_url %>
  
    <% end %>
  </div>
  
  <div class="span4">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  
    <%= f.label :fb %><br />
    <%= f.text_field :fb %>
  
    <%= f.label :gplus %><br />
    <%= f.text_field :gplus %>
  
    <%= f.label :linked %><br />
    <%= f.text_field :linked %>
    
    <%= f.label :twit %><br />
    <%= f.text_field :twit %>

    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date %>
  
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality %>
  
    <%= f.label :passport %><br />
    <%= f.text_field :passport %>
  
    <%= f.label :ss %><br />
    <%= f.text_field :ss %>
  
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
