
<div class="row">

  <div class="span3  ">
    <p id="notice"><%= notice %></p>
    <img src="<%= @user.image_url(:thumb) %>" width="140" class="img-circle img-polaroid">
    <hr>
    <h4><%= @user.name %></h4>
     <li>
          <b>Email:</b>
          <%= @user.email %>
        </li>

        <li>
          <b>Phone:</b>
          <%= @user.phone %>
        </li>

        <li>
          <b>Fb:</b>
          <%= @user.fb %>
        </li>

        <li>
          <b>Gplus:</b>
          <%= @user.gplus %>
        </li>

        <li>
          <b>Linked:</b>
          <%= @user.linked %>
        </li>

        <li>
          <b>Twit:</b>
          <%= @user.twit %>
        </li>

        <li>
          <b>Birth date:</b>
          <%= @user.birth_date %>
        </li>

        <li>
          <b>Nationality:</b>
          <%= @user.nationality %>
        </li>

        <li>
          <b>Passport:</b>
          <%= @user.passport %>
        </li>

        <li>
          <b>Ss:</b>
          <%= @user.ss %>
        </li>

        <li>
          <b>Address:</b>
          <%= @user.address %>
        </li>

      </ul>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Create New Product', new_product_path %> 
  </div>


  <div class="span9">
    <div class="row">
      <% @products.each do |product| %>
      <div class="span3" id="wrapper">
          <% product.images.each do |image| %>
      <img src="<%=image.image_url.to_s if image.image? %>" class="img-polaroid hover">
    <% end %>
       
        <p class="texth item_name" style="text-align:center; font-size: 32px;"><%= product.estimated_rsp %></p>
        <input type="hidden" value="1" class="item_Quantity">

       <div class="btn-group">
      <a class="btn btn-large item_add" href="javascript:;">Buy</a>
      <a class="btn disabled btn-large item_price">€<%= product.l_price %></a>
      <%= link_to 'View Details', product, :class => "btn btn-large" %>
    </div>

        <li>
          <b>Dt:</b>
          <%= product.dt %>
        </li>

        <li>
          <b>Desc:</b>
          <%= product.desc %>
        </li>

        <li>
          <b>Users:</b>
          Mostrar lista pelas transactions efectuadas
        </li>

        <li>
          <b>Benefits:</b>
          <%= product.benefits %>
        </li>

        <li>
          <b>Estimated rsp:</b>
          <%= product.estimated_rsp %>
        </li>

        <li>
          <b>L price:</b>
          <%= product.l_price %>
        </li>

        <li>
          <b>Benefits clients:</b>
          <%= product.benefits_clients %>
        </li>

        <li>
          <b>Videos:</b>
          <%= product.videos %>
        </li>

        <li>
          <b>Sr2l:</b>
          <%= product.sr2l %>
        </li>

        <li>
          <b>Refp number:</b>
          <%= product.refp_number %>
        </li>

        <li>
          <b>Fixed costs:</b>
          <%= product.fixed_costs %>
        </li>

        <li>
          <b>Gross margin:</b>
          <%= product.gross_margin %>
        </li>

        <li>
          <b>Bp link:</b>
          <%= product.bp_link %>
        </li>

        <li>
          <b>Pp link:</b>
          <%= product.pp_link %>
        </li>
        <%= link_to 'Edit', edit_product_path(product) %> |
      </div>

      <% end %>

    </div>
