
<div class="row">
  
<div class="span3  ">
        <img src="img/logo-icc.png" width="140" class="img-circle img-polaroid">
        <hr>
           <h4>User Name</h4>
<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
<h6>
  <ul>
    <li>Some Link To Something</li>
     <li>Some Link To Something</li>
      <li>Some Link To Something</li>
  </ul>
</h6>
      
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Fb:</b>
  <%= @user.fb %>
</p>

<p>
  <b>Gplus:</b>
  <%= @user.gplus %>
</p>

<p>
  <b>Linked:</b>
  <%= @user.linked %>
</p>

<p>
  <b>Twit:</b>
  <%= @user.twit %>
</p>

<p>
  <b>Birth date:</b>
  <%= @user.birth_date %>
</p>

<p>
  <b>Nationality:</b>
  <%= @user.nationality %>
</p>

<p>
  <b>Passport:</b>
  <%= @user.passport %>
</p>

<p>
  <b>Ss:</b>
  <%= @user.ss %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Photo:</b>
  <%= @user.photo %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> | 
<%= link_to 'Create New Product', new_product_path %> 
      </div>


<div class="span9">
<div class="row">
  <% @products.each do |product| %>
      <div class="span3" id="wrapper">
      
        <img src="img/ok.jpg" class="img-polaroid hover">
            <p class="texth">PRICE WILL APPEAR HERE</p>
      
       <div class="btn-group">
              <button class="btn btn-large">Buy</button>
              <button class="btn disabled btn-large">$55</button>
              <button class="btn btn-large">View Details</button>
        </div>


<p>
  <b>User:</b>
  <%= @product.user_id %>
</p>

<p>
  <b>Dt:</b>
  <%= @product.dt %>
</p>

<p>
  <b>Desc:</b>
  <%= @product.desc %>
</p>

<p>
  <b>Users:</b>
  Mostrar lista pelas transactions efectuadas
</p>

<p>
  <b>Benefits:</b>
  <%= @product.benefits %>
</p>

<p>
  <b>Estimated rsp:</b>
  <%= @product.estimated_rsp %>
</p>

<p>
  <b>L price:</b>
  <%= @product.l_price %>
</p>

<p>
  <b>Benefits clients:</b>
  <%= @product.benefits_clients %>
</p>

<p>
  <b>Photos:</b>
  <%= @product.photos %>
</p>

<p>
  <b>Videos:</b>
  <%= @product.videos %>
</p>

<p>
  <b>Sr2l:</b>
  <%= @product.sr2l %>
</p>

<p>
  <b>Refp number:</b>
  <%= @product.refp_number %>
</p>

<p>
  <b>Fixed costs:</b>
  <%= @product.fixed_costs %>
</p>

<p>
  <b>Gross margin:</b>
  <%= @product.gross_margin %>
</p>

<p>
  <b>Bp link:</b>
  <%= @product.bp_link %>
</p>

<p>
  <b>Pp link:</b>
  <%= @product.pp_link %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
      </div>

<% end %>

</div>
