<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Fb:</b>
  <%= @customer.fb %>
</p>

<p>
  <b>Gplus:</b>
  <%= @customer.gplus %>
</p>

<p>
  <b>Linked:</b>
  <%= @customer.linked %>
</p>

<p>
  <b>Twit:</b>
  <%= @customer.twit %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
