<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @order.product_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @order.customer_id %>
</p>

<p>
  <b>Telephone:</b>
  <%= @order.telephone %>
</p>

<p>
  <b>Qty:</b>
  <%= @order.qty %>
</p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>L price:</b>
  <%= @order.l_price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
