
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
  
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :dt %>
    <%= f.text_field :dt %>
    <%= f.label :desc %>
    <%= f.text_field :desc %>
    <%= f.label :benefits %>
    <%= f.text_field :benefits %>
    <%= f.label :estimated_rsp %>
    <%= f.text_field :estimated_rsp %>
    <%= f.label :l_price %>
    <%= f.text_field :l_price %>
    <%= f.label :benefits_clients %>
    <%= f.text_field :benefits_clients %>
<div class="field">
    <%= f.label :photo %><br />
    <% if f.object.image_url %>
    
      <%= image_tag f.object.image_url(:thumb).to_s if f.object.image? %>
      
  
    <% else %>

      <%= f.file_field :image %>
  
      <%= f.label :remote_image_url, "or image URL" %>
      <%= f.text_field :remote_image_url %>
  
    <% end %>
  </div>

    <%= f.label :videos %>
    <%= f.text_field :videos %>
    <%= f.label :sr2l %>
    <%= f.text_field :sr2l %>
    <%= f.label :refp_number %>
    <%= f.text_field :refp_number %>
    <%= f.label :fixed_costs %>
    <%= f.text_field :fixed_costs %>
    <%= f.label :gross_margin %>
    <%= f.text_field :gross_margin %>
    <%= f.label :bp_link %>
    <%= f.text_field :bp_link %>
    <%= f.label :pp_link %>
    <%= f.text_field :pp_link %>
    
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>