<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :dt %><br />
    <%= f.text_field :dt %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :users %><br />
    <%= f.text_field :users %>
  </div>
  <div class="field">
    <%= f.label :benefits %><br />
    <%= f.text_field :benefits %>
  </div>
  <div class="field">
    <%= f.label :estimated_rsp %><br />
    <%= f.text_field :estimated_rsp %>
  </div>
  <div class="field">
    <%= f.label :l_price %><br />
    <%= f.text_field :l_price %>
  </div>
  <div class="field">
    <%= f.label :benefits_clients %><br />
    <%= f.text_field :benefits_clients %>
  </div>
  <div class="field">
    <%= f.label :photos %><br />
    <%= f.text_field :photos %>
  </div>
  <div class="field">
    <%= f.label :videos %><br />
    <%= f.text_field :videos %>
  </div>
  <div class="field">
    <%= f.label :sr2l %><br />
    <%= f.text_field :sr2l %>
  </div>
  <div class="field">
    <%= f.label :refp_number %><br />
    <%= f.text_field :refp_number %>
  </div>
  <div class="field">
    <%= f.label :fixed_costs %><br />
    <%= f.text_field :fixed_costs %>
  </div>
  <div class="field">
    <%= f.label :gross_margin %><br />
    <%= f.text_field :gross_margin %>
  </div>
  <div class="field">
    <%= f.label :bp_link %><br />
    <%= f.text_field :bp_link %>
  </div>
  <div class="field">
    <%= f.label :pp_link %><br />
    <%= f.text_field :pp_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
