<div class="row">
 <div class="span6">
  <img src="img/ok.jpg" class="img-polaroid hover">
  <p>
    <b>Photos:</b>
    <%= @product.photos %>
  </p>
</div>

<div class="span6">
  <p id="notice"><%= notice %></p>
  <h1>Great Product</h1>
  <h5>Published by: <a href="<%= user_path(@product.user) %>"><%= @product.user.name %></a> in Dept: <%= @product.dt %> </h5>
  <h4><%= @product.desc %></h4>
  Benefits
  <h4><%= @product.benefits %></h4>
  <p>
    <b>Benefits clients:</b>
    <%= @product.benefits_clients %>
  </p>
  <h4>
    <ul>
      <li>Some Link To Something</li>
      <li>Some Link To Something</li>
      <li>Some Link To Something</li>
    </ul>
  </h4>

  <p>
    <b>Estimated rsp:</b>
    <%= @product.estimated_rsp %>
  </p>

  <p>
    <b>L price:</b>
    <%= @product.l_price %>
  </p>

  <p>
    <b>Videos:</b>
    <%= @product.videos %>
  </p>

  <p>
    <b>Sr2l:</b>
    <%= @product.sr2l %>
  </p>

  <p>
    <b>Refp number:</b>
    <%= @product.refp_number %>
  </p>

  <p>
    <b>Fixed costs:</b>
    <%= @product.fixed_costs %>
  </p>

  <p>
    <b>Gross margin:</b>
    <%= @product.gross_margin %>
  </p>

  <p>
    <b>Bp link:</b>
    <%= @product.bp_link %>
  </p>

  <p>
    <b>Pp link:</b>
    <%= @product.pp_link %>
  </p>

  <div class="btn-group">
    <button class="btn btn-large">Buy</button>
    <button class="btn disabled btn-large">$55</button>
  </div>


  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
</div>

