<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href=<%= root_path %>>Experience</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <form class="navbar-form pull-right">


          <% if current_user %>
          <span style="color:white">Logged in as <%= current_user.email %></span>
          <%= link_to "Add Product", new_product_path , :class => "btn btn-danger"%>

          <a href="#myModal" data-toggle="modal" class="btn btn-info"> Shopping Cart : <span id="simpleCart_grandTotal" class="simpleCart_grandTotal"></span></a>
          <%= link_to "Log out", signout_path, method: "delete", :class => "btn" %>
          <% else %>
          <%= link_to "Register as User", new_user_path , :class => "btn btn-warning" %>    
          <% end %>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Shopping Cart</h3>
  </div>

   <div class="modal-body">
     <div class="simpleCart_items"> </div>
   </div>

<div class="modal-footer">
  <strong>Final Total: <span id="simpleCart_grandTotal" class="simpleCart_grandTotal"></span></strong>
  <button class="btn btn-primary simpleCart_checkout"  href="javascript:;" >Checkout</button>
</div>

</div>