<!DOCTYPE html>
<html>
<head>
  <title>Experiencia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      #wrapper .texth {
        position:relative;
        bottom:40px;
        left:5px;
        background-color: rgba(255,255,255,0.5);
        visibility:hidden;
        margin-bottom: -20px;
      }

      #wrapper:hover .texth {
        visibility:visible;
      }
      .row {
        margin-top:30px;
      }
    </style>
<script>
    simpleCart({
        checkout: { 
            type: "PayPal" , 
            email: "knuxus@gmail.com" 
          },
    currency:   "EUR"
});
</script>
</head>
<body>
<%= render 'layouts/nav' %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
